<ion-view view-title="Log in">
    <ion-content>
        <label class="item item-input">
            <input type="text" placeholder="Your name" ng-model="userName">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Password" ng-model="userPassword">
        </label>
        <button class="button button-block button-positive" ng-click="loginUser()">
            Log In
        </button>
        <a class="centered-block" href="#/signin">or create account</a>
    </ion-content>
</ion-view>
