<ion-view view-title="Account">
    <ion-content>
        <ion-list>
            <ion-toggle ng-model="settings.enableFriends">
                Enable Friends
            </ion-toggle>
        </ion-list>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="userNameToSearch">
        </label>
        <button class="button button-block button-positive" ng-click="findUser()">
            Search
        </button>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="user in users" type="item-text-wrap" ng-click="showConfirm(user)">
                <h2>{{user.name}}</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
